<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Premium Pack Industry - товары и услуги для мясоперерабатывающей и мясной промышленности</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles/reset.css">
        <link rel="stylesheet" href="./styles/plugins.css">
        <link rel="stylesheet" href="./styles/style.css">
        <link rel="stylesheet" href="./styles/variables.css" />
        <link rel="stylesheet" href="./styles/globals.css" />
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->
            <header>
                <div class="header-main">
                    <div class="header-logo">
                        <a href="index.html" class="ajax"><img src="images/logo.svg" width="137" height="31" alt=""></a>
                    </div>
                    <div class="header-nav-buttons">
                        <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                    </div>
                    <div class="header-nav-container">
                        <nav>
                            <ul>
                                <li>
                                    <a href="tovary.html" class="">Оборудование</a>
                                    <!-- Scroll navigation  -->
                                    <ul>
                                        <li><a href="henkelman.html" class="ajax custom-scroll-link">Упаковочные машины</a></li>
                                        <li><a href="kolbe.html" class="ajax custom-scroll-link">Пилы и мясорубки</a></li>
                                        <li><a href="kerres.html" class="ajax custom-scroll-link">Коптильные шкафы</a></li>
                                        <li><a href="biovator.html" class="ajax custom-scroll-link">Компостеры</a></li>
                                        <li><a href="Italianpack.html" class="ajax custom-scroll-link">Трейсилеры</a></li>
                                        <li><a href="graef.html" class="ajax custom-scroll-link">Оборудование для нарезки</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="uslugy.html" class="">Услуги</a>
                                    <!-- Scroll navigation  -->
                                    <ul>
                                        <li><a href="postavka.html" class="ajax custom-scroll-link">Поставка обоудования</a></li>
                                        <li><a href="montaj.html" class="ajax custom-scroll-link">Монтаж оборудования</a></li>
                                        <li><a href="remont.html" class="ajax custom-scroll-link">Ремонт оборудования</a></li>
                                        <li><a href="produktsia.html" class="ajax custom-scroll-link">Поиск поставщиков</a></li>
                                    
                                    </ul>
                                </li>
                                <li>
                                        <a href="/ru/plenky.html" class="">Материалы</a>
                                        <!-- Scroll navigation  -->
                                        <ul>
                                            <li><a href="termo.html" class="ajax custom-scroll-link">Термоусадочная пленка</a></li>
                                            <li><a href="vacuum.html" class="ajax custom-scroll-link">Вакуумная пленка</a></li>
                                            <li><a href="flowpack.html" class="ajax custom-scroll-link">Пленка FlowPack</a></li>
                                            <li><a href="kishka.html" class="ajax custom-scroll-link">Свиная кишка</a></li>
                                            <li><a href="noji.html" class="ajax custom-scroll-link">Ножи для куттера</a></li>
                                            <li><a href="matrix.html" class="ajax custom-scroll-link">Смазочные материалы</a></li>
                                            <li><a href="spetsii.html" class="ajax custom-scroll-link">Специи</a></li>
                                        </ul>
                                    </li>
                                <li><a href="kontakty.html" class="">Контакты</a></li>
                                <li><a href="kontakty.html" class="">+373 (68) 68-44-16</a></li>

                                    <button class="buttony"><a href="index.html" >ru 🇷🇺</a></button>
                                    <button class="buttony"><a href="/en/index.html" >en 🇺🇸</a></button>
                                    <button class="buttony"><a href="/ro/index.html" >ro 🇷🇴</a></button>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- header end-->
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <div class="content-holder elem scale-bg2 transition3" >
                    <div class="content">
                        <!-- анимация  -->
                        <div class="bg-animate"><img src="images/body-bg.png"  class="respimg" alt=""></div>
                        <!-- wrapper inner -->
                        <div class="wrapper-inner">
                            <section class="no-padding no-border" id="sec1">
                                <!-- Заголовок -->
                                <div class="container">
                                    <div class="page-title no-border">
                                        <h2>Premium Pack Industry</h2>
                                        <h3><span>Занимаемся технологической поддержкой компаний мясной и молочной промышленности — поставляем и обслуживаем оборудование от ведущих мировых производителей. Проектируем и запускаем колбасные производства с нуля. Обучаем персонал и консультируем.</span></h3>
                                    </div>
                                </div>
                            </section>
                            <div class="container">
                                <section>
                                    <div class="row">
                                    <!-- Товары -->
                                    <div class="col-md-4">
                                        <div class="services-box">
                                            <div class="services-image box-item">
                                                <a href="tovary.html">
                                                <span class="overlay"></span>
                                                <img src="images/folio/thumbs/33.jpg"  alt="" class="respimg">
                                                </a>
                                            </div>
                                            <div class="services-info">
                                                <h4>Товары</h4>
                                                <ul>
                                                    <li><a href="henkelman.html"><span>Вакумное упаковочное оборудование</span></a></li>
                                                    <li><a href="kolbe.html"><span>Мясорубки</span></a></li>
                                                    <li><a href="kishka.html"><span>Свиная кишка</span></a></li>
                                                    <li><a href="spetsii.html"><span>Специи</span></a></li>
                                                    <li><a href="Italianpack.html"><span>Трейсилеры></span></a></li>
                                                    <li><a href="graef.html"><span>Оборудование для нарезки</span></a></li>
                                                    
                                                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Услуги -->
                                    <div class="col-md-4">
                                        <div class="services-box">
                                            <div class="services-image box-item">
                                                <a href="uslugy.html">
                                                <span class="overlay"></span>
                                                <img src="images/folio/thumbs/22.jpg"  alt="" class="respimg">
                                                </a>
                                            </div>
                                            <div class="services-info">
                                                <h4>Услуги</h4>
                                                <ul>
                                                    <li><a href="postavka.html"><span>Поставка оборудования</span></a></li>
                                                    <li><a href="montaj.html"><span>Монтаж оборудования</span></a></li>
                                                    <li><a href="remont.html"><span>Обслуживание и ремонт</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                                                        <!-- Пленка -->
                                                                        <div class="col-md-4">
                                                                                <div class="services-box">
                                                                                    <div class="services-box box-item">
                                                                                        <a href="plenky.html">
                                                                                        <span class="overlay"></span>
                                                                                        <img src="images/folio/thumbs/1.jpg"  alt="" class="respimg">
                                                                                        </a>
                                                                                    </div>
                                                                                        <div class="services-info">
                                                                                            <h4>Пленка</h4>
                                                                                            <ul>
                                                                                                <li><a href="termo.html"><span>Термоусадочная пленка</span></a></li>
                                                                                                <li><a href="vacuum.html"><span>Вакуумная пленка</span></a></li>
                                                                                                <li><a href="flowpack.html"><span>Пленка FlowPack</span></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                </div>
                                                                                </div>
                                    </div>
                                    <!-- full width slider end -->
                                </section>
                                <!-- about text end -->
                                <!-- team -->
                                <!-- team end   -->
                                <!-- story / resume   -->
                                <section id="sec3">
                                    <div class="section-title">
                                        <h3>О компании</h3>
                                    </div>
                                    <div class="resume-holder">
                                            <div class="resume-box">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <p>Компания Premium Pack Industry специализируется на поставках оборудования ведущих мировых производителей для пищевой промышленности. Сегодня у нас имеется наработанная база предприятий, занимающихся изготовлением и обслуживанием высокотехнологичного оборудования для пищевой промышленности и более 8 лет плодотворного сотрудничества с предприятиями пищевой промышленности в Молдове и других странах СНГ.</p>
                                                        <p>Мы являемся официальным представителем в Ресублике Молдова самых известных компаний-производителей оборудования для мясоперерабатывающей и мясной промышленности — доставляем в страну, устанавливаем, обслуживаем по гарантии и обучаем персонал:</p>

                                                    </div>
                                            </div>

                                    </div>
                                    <ul class="team-holder">
                                        <!-- 1 -->
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <img src="images/team/small/5.png" alt="" class="respimg"><span><a href="https://www.kolbe-foodtec.com/" target="_blank">Перейти на сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>Kolbe Foodtec</h3>
                                                    <h4>Германия</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- 2 -->
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <img src="images/team/small/3.jpg" alt="" class="respimg"><span><a href="http://www.henkelman.com/" target="_blank">Перейти на сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>Henkelman</h3>
                                                    <h4>Голландия</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- 4 -->
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <img src="images/team/small/4.png" alt="" class="respimg"><span><a href="https://www.matrix-lubricants.com/en/home" target="_blank">Перейти на сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>Matrix Specialty Lubricants</h3>
                                                    <h4>Нидерланды</h4>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                        <ul class="team-holder">
                                        <!-- 5-->
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <img src="images/team/small/7.png" alt="" class="respimg"><span><a href="https://www.italianpack.com/ru/" target="_blank">Перейти на официальный сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>Italian Pack</h3>
                                                    <h4>Италия</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- 6-->
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <img src="images/team/small/8.png" alt="" class="respimg"><span><a href="http://revic.pl/ru" target="_blank">Перейти на официальный сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>Revic</h3>
                                                    <h4>Польша</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- 6-->
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <img src="images/team/small/9.png" alt="" class="respimg"><span><a href="https://www.roxell.com/" target="_blank">Перейти на официальный сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>Roxell</h3>
                                                    <h4>Бельгин</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <ul class="team-social">
                                                    </ul>
                                                    <img src="images/team/small/10.png" alt="" class="respimg"><span><a href="http://www.szlachetstal.pl/" target="_blank">Перейти на официальный сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>SZLACHET – STAL</h3>
                                                    <h4>Польша</h4>
                                                </div>
                                            </div>
                                        </li>
                                                                                <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <ul class="team-social">
                                                    </ul>
                                                    <img src="images/team/small/12.png" alt="" class="respimg"><span><a href="https://www.minipack-torre.it/en" target="_blank">Перейти на официальный сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>minipack®-torre</h3>
                                                    <h4>Италия</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="team-box">
                                                <div class="team-photo">
                                                    <div class="overlay"></div>
                                                    <img src="images/bg/imgonline-com-ua-Resize-Nq4YEuvZL4bP.jpg" alt="" class="respimg"><span><a href="https://www.pommerania-gewuerze.com/en/" target="_blank">Перейти на сайт</a></span>
                                                </div>
                                                <div class="team-info">
                                                    <h3>Pommeraniu</h3>
                                                    <h4>Германия</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- 7-->

    
                            
                                       
                                    <li>
                                        <div class="team-box">
                                            <div class="team-photo">
                                                <div class="overlay"></div>
                                                <img src="images/bg/imgonline-com-ua-Resize-7OtNuEqW45.png" alt="" class="respimg"><span><a href="" target="_blank">Перейти на сайт</a></span>
                                            </div>
                                            <div class="team-info">
                                                <h3>Nioex Systems Inc.</h3>
                                                <h4>Канада</h4>
                                            </div>
                                        </div>
                                    </li>
                                <li>
                                    <div class="team-box">
                                        <div class="team-photo">
                                            <div class="overlay"></div>
                                            <ul class="team-social">
                                            </ul>
                                            <img src="images/team/small/imgonline-com-ua-Resize-BaYiRWT86CMdXvS.jpg" alt="" class="respimg"><span><a href="https://www.graef.de/en/" target="_blank">Перейти на официальный сайт</a></span>
                                        </div>
                                        <div class="team-info">
                                            <h3>Graef</h3>
                                            <h4>Германия</h4>
                                        </div>
                                    </div>
                                </li>
                                
                
                                    </ul>
                                </section>
                                <!-- resume / story end -->
                                <!-- services  -->


                            </div>
                        </div>
                        <!--=============== footer ===============-->
                        <div class="height-emulator"></div>
                        <footer>
                            <div class="footer-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="footer-adress">
                                            <p>Republica Moldova, Chişinău,  str. Calea Moşilor, 11/2, MD-2024</p>
                                            <p> &#169; PremiumPackInd 2012-2021</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="footer-adress">
                                            <a href="tel:+37368684416">+373 (68) 68-44-16</a>
                                            <a href="mailto:premiumpackind@gmail.com">premiumpackind@gmail.com</a>
                                            <a href="kontakty.html" target="_blank">Реквизиты компании</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>

                        <!-- footer end    -->
                    </div>
                    <!-- content  end  -->
                </div>
                <!-- content-holder  end  -->
            </div>
            <!-- wrapper end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/core.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>